{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
<div style="height: 50px"></div>
{% endblock %}

{% block body %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form action="" method='post'>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> ФИО</label>
                    <input name="fio" type="text" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> Телефон</label>
                    <input name="phone" type="text" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Емайл</label>
                    <input name="email" type="text" class="form-control" id="text">
                </div>

                <button type="submit" class="btn btn-primary">Создать</button>
            </form>


        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

</body>
{% endblock %}