{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
<div style="height: 50px"></div>
{% endblock %}

{% block body %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h2>Создать офлайн курс</h2>
            <form action="" method='post'>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Название курса</label>
                    <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                    <div class="mb-3">
                        <select class="form-select" name="category_id" aria-label="Default select example">
                            <option selected>Категория</option>
                            {% for item in category_list %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                        <div class="mb-3">
                            <select class="form-select" name="type" aria-label="Default select example">
                                <option selected>Тип</option>
                                <option value="Офлайн формат">Офлайн формат</option>
                                <option value="Онлайн формат">Онлайн формат</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <select class="form-select" name="place_offline" aria-label="Default select example">
                                <option selected>Адрес для оффлайн</option>
                                <option value="Офис в центре">Офис в центре</option>
                                <option value="Офис в химках">Офис в химках</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <select class="form-select" name="place_online" aria-label="Default select example">
                                <option selected>Место для онлайн</option>
                                <option value="Google Meet">Google Meet</option>
                                <option value="Zoom">Zoom</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Создать</button>
            </form>

        </div>


        <div class="col-sm">
        </div>
    </div>
</div>

</body>
{% endblock %}