{% extends "base.html" %}


{% block title %} Онлайн Школа{% endblock %}

{% block menu %}
{% include "menu.html" %}
<div style="height: 50px"></div>
{% endblock %}

{% block body %}
<body>
<div class="row gy-5">
    <div class="col">
        <div class="p-3 border">
            <h6>Рассписание на {{data}}</h6>
            <div style="height: 30px"></div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Раздел</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Уточнение</th>
                </tr>
                </thead>
                <tbody>
                {% for item in courses_list %}
                <tr>
                    <th>{{item.main_category}}</th>
                    <th>{{item.category}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.types}}</td>
                    <td>{{item.place}}</td>
                    <td>
                        <form action="/correct-course/" method="post">
                            <input type="hidden" name="course" value="{{item.id}}"/>
                            <button>Редактировать курс</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h6>Записаться на курс</h6>
                <form action="/add-to-cource/" method='post'>
                    <div class="mb-3">
                        <select class="form-select" name="student" aria-label="Default select example">
                            <option selected>Выберите ученика</option>
                            {% for item in students_list %}
                            <option value={{item.id}}>{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="course" aria-label="Default select example">
                            <option selected>Выберите курс</option>
                            {% for item in courses_list %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Записаться</button>
                </form>


            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

</body>
{% endblock %}