{% extends "base.html" %}


{% block title %} Онлайн Школа{% endblock %}

{% block menu %}
{% include "menu.html" %}
<div style="height: 50px"></div>
{% endblock %}

{% block body %}
<body>
<div class="row gy-5">
    <div class="col">
        <div class="p-3 border">
            <h6>Рассписание на {{data}}</h6>
            <div style="height: 30px"></div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Категория</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Уточнение</th>
                </tr>
                </thead>
                <tbody>
                {% for item in objects_list %}
                <tr>
                    <th>{{item.category.name}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.types}}</td>
                    <td>{{item.place}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h6>Записаться на курс</h6>
                <form action="" method='post'>
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Ваше имя" aria-label="Username"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="name@example.com" name="email">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="subject" aria-label="Default select example">
                            {% for item in objects_list %}
                            <option selected>Выберите курс</option>
                            <option value={{item.id}}>{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Записаться</button>
                </form>


            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

</body>
{% endblock %}